* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vh;
  height: 100vh;
  overflow: hidden;
  background-image: url("assets/img/texture.jpeg");
  background-position: center;
  background-size: cover;
}